page-report {

}
.block{
    font-size: 10%;
    color: #71C0B4;
        width: 100%;
        text-align: center;
        padding-top: 20px;
      
}
    .dog{
        
        font-size: 23px;
        background-color: #71C0B4;
        height: 55px;
        width: 144px;
         display: inline-block;
 
    }
        .cat{
             font-size: 23px;
        background-color: #71C0B4;
        height: 55px;
        width: 144px;
         float: right;
         display: inline-block;

        }
        .prefer{
            font-size: 23px;
             color: #FFFFFF;
           text-align: center;
        }
         .color{
    background-color: #F1FFFD;
     }